body
{
    background-color: #b3daff;
    font-size: 20px;
}

.GameNameAndVersion
{
    font-size: 30px;
}

.GameDownload
{
    padding-left: 0px;
    width: auto;
    display: flex;
    justify-content:space-around;
}

.DownloadButton
{
    font-size: 30px;
    margin-left: 240px;
    width: auto;
}

.EstimatedReleaseDate
{
    font-size: 22px;
    color: gray;
    padding-bottom: 15px;
    padding-left: 100px;
}

.DownloadArea
{
    
}

.EstimatedReleaseDateArea
{
    margin-left: 170px;
}

#GameName
{
    font-size: 48px;
}
